@page "/config"

@using PalServerTools.Data
@using PalServerTools.Models
@inject PalConfigService configService;
@inject PalProcessService palProcessService

<PageTitle>配置</PageTitle>

<Flex Vertical="true" Class="sy-content">
    <Tabs Class="sy-content-tabs" DefaultActiveKey="1" TabPosition="TabPosition.Left" TabBarExtraContentLeft="leftExtra">
        <TabPane Key="基础配置" Tab="基础配置">
            <Flex Vertical="true" Class="sy-content">
                <PageHeader Class="sy-content-title-2" Title="基础配置" />
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="4" WrapperColSpan="14" Model="@configService.ToolsConfig" OnFinish="OnFinish">
                        <FormItem Label="PalServer根目录">
                            <Input @bind-Value="@context.PalServerPath" />
                        </FormItem>
                        <FormItem Label="PalServer启动参数">
                            <Input @bind-Value="@context.RunArguments" />
                        </FormItem>
                        <FormItem Label="工具密码">
                            <InputPassword @bind-Value="@context.ToolsPassword" />
                        </FormItem>
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Button Type="@ButtonType.Primary" OnClick="Save">
                        保存
                    </Button>
                </Footer>
            </Flex>
        </TabPane>
        <TabPane Key="存档配置" Tab="存档配置">
            <Flex Vertical="true" Class="sy-content">
                <PageHeader Class="sy-content-title-2" Title="存档配置" />
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="4" WrapperColSpan="14" Model="@configService.ToolsConfig" OnFinish="OnFinish">
                        <FormItem Label="存档备份位置">
                            <Input @bind-Value="@context.BackupPath" />
                        </FormItem>
                        <FormItem Label="存档自动备份">
                            <Checkbox @bind-Value="context.AutoBackup"></Checkbox>
                        </FormItem>
                        @if (configService.ToolsConfig.AutoBackup)
                        {
                            <FormItem Label="存档备份频率Cron">
                                <Input @bind-Value="@context.BackupCron" />
                            </FormItem>
                        }
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Button Type="@ButtonType.Primary" OnClick="Save">
                        保存
                    </Button>
                </Footer>
            </Flex>
        </TabPane>
        <TabPane Key="服务器配置" Tab="服务器配置">
            <Flex Vertical="true" Class="sy-content">
                <PageHeader Class="sy-content-title-2" Title="服务器配置" />
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="4" WrapperColSpan="14" Model="@configService.PalConfig">
                    <FormItem Label="服务器名称">
                        <Input @bind-Value="@context.ServerName" />
                    </FormItem>
                    <FormItem Label="公共IP地址">
                        <Input @bind-Value="@context.PublicIP"></Input>
                    </FormItem>
                    <FormItem Label="公共IP地址">
                        <AntDesign.InputNumber @bind-Value="@context.PublicPort" Min="1" Max="65558" DefaultValue="8211"></AntDesign.InputNumber>
                    </FormItem>
                    <FormItem Label="服务器密码">
                        <InputPassword @bind-Value="@context.ServerPassword" />
                    </FormItem>
                    <FormItem Label="管理员密码">
                        <InputPassword @bind-Value="@context.AdminPassword" />
                    </FormItem>
                    <FormItem Label="难度">
                        <Select @bind-Value="@context.Difficulty"
                                DefaultValue="@("None")"
                                Style="width: 120px;"
                                TItemValue="string"
                                TItem="string">
                            <SelectOptions>
                                <SelectOption Value="@("Difficulty")" Label="困难" />
                                <SelectOption Value="@("None")" Label="简单" />
                            </SelectOptions>
                        </Select>
                    </FormItem>
                    <FormItem Label="最大玩家数">
                        <AntDesign.InputNumber @bind-Value="@context.ServerPlayerMaxNum" Min="1" Max="32" DefaultValue="16"></AntDesign.InputNumber>
                    </FormItem>
                    <FormItem Label="是否启用RCON">
                        <Checkbox @bind-Value="context.RCONEnabled"></Checkbox>
                    </FormItem>
                    @if (context.RCONEnabled)
                    {
                        <FormItem Label="RCON端口号">
                            <AntDesign.InputNumber @bind-Value="@context.RCONPort" Min="1" Max="32" DefaultValue="16"></AntDesign.InputNumber>
                        </FormItem>
                    }
                    <FormItem Label="服务器描述">
                        <TextArea @bind-Value="@context.ServerDescription" Placeholder="请输入..." MinRows="2" MaxRows="6" />
                    </FormItem>
                </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" OnClick="Save">
                                保存
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Danger OnClick="SaveAndRestart">
                                保存并重启
                            </Button>
                        </SpaceItem>
                    </Space>
                </Footer>
            </Flex>
        </TabPane>
        <TabPane Key="游戏参数调整" Tab="游戏参数调整">
            <Flex Vertical="true" Class="sy-content">
                <PageHeader Class="sy-content-title-2" Title="游戏参数调整" />
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="6" WrapperColSpan="14" Model="@configService.PalConfig">
                        <FormItem Label="白天流逝速度">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0.01" Max="5" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.DayTimeSpeedRate" />
                            <Text Class="sy-slider-value-text">@context.DayTimeSpeedRate</Text>
                        </FormItem>
                        <FormItem Label="夜晚流逝速度">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0.01" Max="5" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.NightTimeSpeedRate" />
                            <Text Class="sy-slider-value-text">@context.NightTimeSpeedRate</Text>
                        </FormItem>
                        <FormItem Label="经验倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.ExpRate" />
                            <Text Class="sy-slider-value-text">@context.ExpRate</Text>
                        </FormItem>
                        <FormItem Label="帕鲁捕获概率倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PalCaptureRate" />
                            <Text Class="sy-slider-value-text">@context.PalCaptureRate</Text>
                        </FormItem>
                        <FormItem Label="帕鲁出现概率倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PalSpawnNumRate" />
                            <Text Class="sy-slider-value-text">@context.PalSpawnNumRate</Text>
                        </FormItem>
                        <FormItem Label="帕鲁攻击伤害倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PalDamageRateAttack" />
                            <Text Class="sy-slider-value-text">@context.PalDamageRateAttack</Text>
                        </FormItem>
                        <FormItem Label="玩家攻击伤害倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PlayerDamageRateAttack" />
                            <Text Class="sy-slider-value-text">@context.PlayerDamageRateAttack</Text>
                        </FormItem>
                        <FormItem Label="玩家饥饿下降率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PlayerStomachDecreaseRate" />
                            <Text Class="sy-slider-value-text">@context.PlayerStomachDecreaseRate</Text>
                        </FormItem>
                        <FormItem Label="玩家耐力下降率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PlayerStaminaDecreaseRate" />
                            <Text Class="sy-slider-value-text">@context.PlayerStaminaDecreaseRate</Text>
                        </FormItem>
                        <FormItem Label="帕鲁自动恢复生命值率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PalAutoHPRegeneRate" />
                            <Text Class="sy-slider-value-text">@context.PalAutoHPRegeneRate</Text>
                        </FormItem>
                        <FormItem Label="玩家自动恢复生命值率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.PlayerAutoHPRegeneRate" />
                            <Text Class="sy-slider-value-text">@context.PlayerAutoHPRegeneRate</Text>
                        </FormItem>
                        <FormItem Label="建筑物受损伤害倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.BuildObjectDamageRate" />
                            <Text Class="sy-slider-value-text">@context.BuildObjectDamageRate</Text>
                        </FormItem>
                        <FormItem Label="采集物品倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.CollectionDropRate" />
                            <Text Class="sy-slider-value-text">@context.CollectionDropRate</Text>
                        </FormItem>
                        <FormItem Label="采集物品敌人掉落物品倍率倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.EnemyDropItemRate" />
                            <Text Class="sy-slider-value-text">@context.EnemyDropItemRate</Text>
                        </FormItem>
                        <FormItem Label="死亡惩罚">
                            <Select @bind-Value="@context.DeathPenalty"
                                    DefaultValue="@("ItemAndEquipment")"
                                    Style="width: 120px;"
                                    TItemValue="string"
                                    TItem="string">
                                <SelectOptions>
                                    <SelectOption Value="@("None")" Label="无惩罚" />
                                    <SelectOption Value="@("Item")" Label="丢失物品但不丢失装备" />
                                    <SelectOption Value="@("ItemAndEquipment")" Label="丢失物品和装备" />
                                    <SelectOption Value="@("All")" Label="丢失所以物品、装备、伙伴" />
                                </SelectOptions>
                            </Select>
                        </FormItem>
                        <FormItem Label="启用玩家对玩家的伤害">
                            <Checkbox @bind-Value="context.bEnablePlayerToPlayerDamage"></Checkbox>
                        </FormItem>
                        <FormItem Label="火焰伤害">
                            <Checkbox @bind-Value="context.bEnableFriendlyFire"></Checkbox>
                        </FormItem>
                        <FormItem Label="是否发生袭击事件">
                            <Checkbox @bind-Value="context.bEnableInvaderEnemy"></Checkbox>
                        </FormItem>
                        <FormItem Label="掉落物品存在最大时长">
                            <AntDesign.InputNumber @bind-Value="@context.DropItemAliveMaxHours" Min="0" DefaultValue="1"></AntDesign.InputNumber>
                        </FormItem>
                        <FormItem Label="自动重置没有在线玩家的公会">
                            <Checkbox @bind-Value="context.bAutoResetGuildNoOnlinePlayers"></Checkbox>
                        </FormItem>
                        <FormItem Label="无在线玩家时自动重置生成时间">
                            <AntDesign.InputNumber @bind-Value="@context.AutoResetGuildTimeNoOnlinePlayers" Min="0" DefaultValue="1"></AntDesign.InputNumber>
                        </FormItem>
                        <FormItem Label="公会玩家最大数量">
                            <AntDesign.InputNumber @bind-Value="@context.GuildPlayerMaxNum" Min="0" DefaultValue="1"></AntDesign.InputNumber>
                        </FormItem>
                        <FormItem Label="帕鲁蛋孵化时间">
                            <AntDesign.InputNumber @bind-Value="@context.PalEggDefaultHatchingTime" Min="0" DefaultValue="1"></AntDesign.InputNumber>
                        </FormItem>
                        <FormItem Label="工作速度倍率">
                            <Slider Class="sy-slider-value" TValue="double" DefaultValue="1" Min="0" Max="20" TooltipPlacement="@Placement.Top" Step="0.01" @bind-Value="@context.WorkSpeedRate" />
                            <Text Class="sy-slider-value-text">@context.WorkSpeedRate</Text>
                        </FormItem>
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" OnClick="Save">
                                保存
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Danger OnClick="SaveAndRestart">
                                保存并重启
                            </Button>
                        </SpaceItem>
                    </Space>
                </Footer>
            </Flex>
        </TabPane>
    </Tabs>
</Flex>

@code {
    RenderFragment leftExtra => @<PageHeader Class="sy-content-title" Title="配置" />;
    private void OnFinish(EditContext editContext)
    {
        // Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void Save()
    {
        configService.Save();
    }

    private void SaveAndRestart()
    {
        configService.Save();
        if (palProcessService.palServerState == Models.PalEnum.PalServerState.Running)
        {
            palProcessService.CloseProcess();
        }
        if (!configService.ToolsConfig.AutoRestart)
        {
            palProcessService.StartProcess();
        }
    }
}
