@page "/config"

@using PalServerTools.Data
@using PalServerTools.Models
@inject PalConfigService configService
@inject PalProcessService palProcessService
@inject IMessageService message
@inject ModalService _modalService
@inject NavigationManager nvm

<PageTitle>配置</PageTitle>

<Flex Vertical="true" Class="sy-content">
    <MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="IsSmall" />
    <Tabs Class="sy-content-tabs" DefaultActiveKey="@(nvm.Uri.Split("#").LastOrDefault("basic"))" TabPosition="@(IsSmall ? TabPosition.Top:TabPosition.Left)" Size="@(IsSmall ? TabSize.Small:TabSize.Default)" TabBarExtraContentLeft="leftExtra">
        <TabPane Key="basic" Tab="基础配置">
            <Flex Vertical="true" Class="sy-content">
                @if (!IsSmall)
                {
                    <PageHeader Class="sy-content-title-2" Title="基础配置" />
                }
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="4" WrapperColSpan="14" Model="@toolsConfigModel" OnFinish="OnFinish">
                        <FormItem Label="PalServer根目录">
                            <Input @bind-Value="@context.PalServerPath" />
                        </FormItem>
                        <FormItem Label="PalServer启动参数">
                            <Input @bind-Value="@context.RunArguments" />
                        </FormItem>
                        <FormItem Label="工具密码">
                            <InputPassword @bind-Value="@context.ToolsPassword" />
                        </FormItem>
                        <FormItem Label="内存优化">
                            <Checkbox @bind-Value="context.MemoryClear"></Checkbox>
                        </FormItem>
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Button Type="@ButtonType.Primary" OnClick="BasicSave" Loading="withButtonLoading">
                        保存
                    </Button>
                </Footer>
            </Flex>
        </TabPane>
        <TabPane Key="backup" Tab="存档配置">
            <Flex Vertical="true" Class="sy-content">
                @if (!IsSmall)
                {
                    <PageHeader Class="sy-content-title-2" Title="存档配置" />
                }
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="4" WrapperColSpan="14" Model="@toolsConfigModel" OnFinish="OnFinish">
                        <FormItem Label="存档备份位置">
                            <Input @bind-Value="@context.BackupPath" />
                        </FormItem>
                        <FormItem Label="存档自动备份">
                            <Checkbox @bind-Value="context.AutoBackup"></Checkbox>
                        </FormItem>
                        @if (configService.ToolsConfig.AutoBackup)
                        {
                            <FormItem Label="存档备份频率Cron">
                                <Input @bind-Value="@context.BackupCron" />
                            </FormItem>
                            <FormItem Label="存档保留策略">
                                <Select @bind-Value="@context.BackupClearType"
                                    DefaultValue="@(0)"
                                    Style="width: 160px;"
                                    TItemValue="int"
                                    TItem="int">
                                    <SelectOptions>
                                        <SelectOption Value="@(0)" Label="保留全部" />
                                        <SelectOption Value="@(1)" Label="保留指定数量" />
                                    </SelectOptions>
                                </Select>
                            </FormItem>
                            if (@context.BackupClearType == 1)
                            {
                                <FormItem Label="保留数量">
                                    <AntDesign.InputNumber @bind-Value="@context.BackupCount" Min="1" DefaultValue="1"></AntDesign.InputNumber>
                                </FormItem>
                            }
                        }
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Button Type="@ButtonType.Primary" OnClick="Save" Loading="withButtonLoading">
                        保存
                    </Button>
                </Footer>
            </Flex>
        </TabPane>
        <TabPane Key="service" Tab="服务器配置">
            <Flex Vertical="true" Class="sy-content">
                @if (!IsSmall)
                {
                    <PageHeader Class="sy-content-title-2" Title="服务器配置" />
                }
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="4" WrapperColSpan="14" Model="@palConfigModel">
                        <FormItem Label="服务器名称">
                            <Input @bind-Value="@context.ServerName" />
                        </FormItem>
                        <FormItem Label="公共IP地址">
                            <Input @bind-Value="@context.PublicIP"></Input>
                        </FormItem>
                        <FormItem Label="公共端口号">
                            <AntDesign.InputNumber @bind-Value="@context.PublicPort" Min="0" Max="65535" DefaultValue="8211"></AntDesign.InputNumber>
                        </FormItem>
                        <FormItem Label="使用授权">
                            <Checkbox @bind-Value="context.bUseAuth"></Checkbox>
                        </FormItem>
                        <FormItem Label="服务器密码">
                            <InputPassword @bind-Value="@context.ServerPassword" />
                        </FormItem>
                        <FormItem Label="管理员密码">
                            <InputPassword @bind-Value="@context.AdminPassword" />
                        </FormItem>
                        <FormItem Label="难度">
                            <Select @bind-Value="@context.Difficulty"
                                    DefaultValue="@EPalOptionWorldDifficulty.None"
                                    Style="width: 120px;"
                                    TItemValue="EPalOptionWorldDifficulty"
                                    TItem="EPalOptionWorldDifficulty">
                                <SelectOptions>
                                    <SelectOption Value="@EPalOptionWorldDifficulty.Difficulty" Label="困难" />
                                    <SelectOption Value="@EPalOptionWorldDifficulty.None" Label="简单" />
                                </SelectOptions>
                            </Select>
                        </FormItem>
                        <SySliderFormItem Label="最大玩家数" DefaultValue="@configService.DefaultPalConfig.ServerPlayerMaxNum" Min="0" Max="512" Step="1" @bind-Value="@context.ServerPlayerMaxNum"></SySliderFormItem>
                        <FormItem Label="是否启用RCON">
                            <Checkbox @bind-Value="context.RCONEnabled"></Checkbox>
                        </FormItem>
                        @if (context.RCONEnabled)
                        {
                            <FormItem Label="RCON端口号">
                                <AntDesign.InputNumber @bind-Value="@context.RCONPort" Min="0" Max="65535" DefaultValue="25575"></AntDesign.InputNumber>
                            </FormItem>
                        }
                        <FormItem Label="地区">
                            <Input @bind-Value="@context.Region" />
                        </FormItem>
                        <FormItem Label="封禁列表 URL">
                            <Input @bind-Value="@context.BanListURL" />
                        </FormItem>
                        <FormItem Label="服务器描述">
                            <TextArea @bind-Value="@context.ServerDescription" Placeholder="请输入..." MinRows="2" MaxRows="6" />
                        </FormItem>
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Dashed" OnClick="ShowRestoreDefaultPalConfigConfirm" Loading="withButtonLoading">
                                恢复默认参数
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" OnClick="Save" Loading="withButtonLoading">
                                保存
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Primary" Danger OnClick="SaveAndRestart" Loading="withButtonLoading">
                                保存并重启
                            </Button>
                        </SpaceItem>
                    </Space>
                </Footer>
            </Flex>
        </TabPane>
        <TabPane Key="game" Tab="游戏参数调整">
            <Flex Vertical="true" Class="sy-content">
                 @if (!IsSmall)
                {
                    <PageHeader Class="sy-content-title-2" Title="游戏参数调整" />
                }
                <Content Class="sy-content-body">
                    <Form Class="sy-content-body" Layout="@FormLayout.Horizontal" LabelColSpan="6" WrapperColSpan="14" Model="@palConfigModel">
                        <SySliderFormItem Label="白天流逝速度" DefaultValue="@configService.DefaultPalConfig.DayTimeSpeedRate" Min="0.01" Max="15" Step="0.01" @bind-Value="@context.DayTimeSpeedRate"></SySliderFormItem>
                        <SySliderFormItem Label="夜晚流逝速度" DefaultValue="@configService.DefaultPalConfig.NightTimeSpeedRate" Min="0.01" Max="15" Step="0.01" @bind-Value="@context.NightTimeSpeedRate"></SySliderFormItem>
                        <SySliderFormItem Label="经验值倍率" DefaultValue="@configService.DefaultPalConfig.ExpRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.ExpRate"></SySliderFormItem>
                        <SySliderFormItem Label="捕捉概率倍率" DefaultValue="@configService.DefaultPalConfig.PalCaptureRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalCaptureRate"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁出现概率倍率" DefaultValue="@configService.DefaultPalConfig.PalSpawnNumRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalSpawnNumRate"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁攻击伤害倍率" DefaultValue="@configService.DefaultPalConfig.PalDamageRateAttack" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalDamageRateAttack"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁承受伤害倍率" DefaultValue="@configService.DefaultPalConfig.PalDamageRateDefense" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalDamageRateDefense"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁饱食度降低倍率" DefaultValue="@configService.DefaultPalConfig.PalStomachDecreaceRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalStomachDecreaceRate"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁耐力降低倍率" DefaultValue="@configService.DefaultPalConfig.PalStaminaDecreaceRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalStaminaDecreaceRate"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁生命值自然回复倍率" DefaultValue="@configService.DefaultPalConfig.PalAutoHPRegeneRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalAutoHPRegeneRate"></SySliderFormItem>
                        <SySliderFormItem Label="帕鲁睡眠时/终端中生命值回复倍率" DefaultValue="@configService.DefaultPalConfig.PalAutoHpRegeneRateInSleep" Min="0" Max="20" Step="0.01" @bind-Value="@context.PalAutoHpRegeneRateInSleep"></SySliderFormItem>
                        <SySliderFormItem Label="玩家攻击伤害倍率" DefaultValue="@configService.DefaultPalConfig.PlayerDamageRateAttack" Min="0" Max="20" Step="0.01" @bind-Value="@context.PlayerDamageRateAttack"></SySliderFormItem>
                        <SySliderFormItem Label="玩家承受伤害倍率" DefaultValue="@configService.DefaultPalConfig.PlayerDamageRateDefense" Min="0" Max="20" Step="0.01" @bind-Value="@context.PlayerDamageRateDefense"></SySliderFormItem>
                        <SySliderFormItem Label="玩家饱食度降低倍率" DefaultValue="@configService.DefaultPalConfig.PlayerStomachDecreaceRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PlayerStomachDecreaceRate"></SySliderFormItem>
                        <SySliderFormItem Label="玩家耐力降低倍率" DefaultValue="@configService.DefaultPalConfig.PlayerStaminaDecreaceRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PlayerStaminaDecreaceRate"></SySliderFormItem>
                        <SySliderFormItem Label="玩家生命值自然回复倍率" DefaultValue="@configService.DefaultPalConfig.PlayerAutoHPRegeneRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.PlayerAutoHPRegeneRate"></SySliderFormItem>
                        <SySliderFormItem Label="玩家睡眠时生命值回复倍率" DefaultValue="@configService.DefaultPalConfig.PlayerAutoHpRegeneRateInSleep" Min="0" Max="20" Step="0.01" @bind-Value="@context.PlayerAutoHpRegeneRateInSleep"></SySliderFormItem>
                        <SySliderFormItem Label="对建筑物伤害倍率" DefaultValue="@configService.DefaultPalConfig.BuildObjectDamageRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.BuildObjectDamageRate"></SySliderFormItem>
                        <SySliderFormItem Label="非基地圈内建筑物的劣化速度倍率" DefaultValue="@configService.DefaultPalConfig.BuildObjectDeteriorationDamageRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.BuildObjectDeteriorationDamageRate"></SySliderFormItem>
                        <SySliderFormItem Label="掉落物品最大存在数量" DefaultValue="@configService.DefaultPalConfig.DropItemMaxNum" Min="0" Max="10000" Step="1" @bind-Value="@context.DropItemMaxNum"></SySliderFormItem>
                        <SySliderFormItem Label="道具采集量倍率" DefaultValue="@configService.DefaultPalConfig.CollectionDropRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.CollectionDropRate"></SySliderFormItem>
                        <SySliderFormItem Label="可采集物品生命值倍率" DefaultValue="@configService.DefaultPalConfig.CollectionObjectHpRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.CollectionObjectHpRate"></SySliderFormItem>
                        <SySliderFormItem Label="可采集物品重生间隔倍率" DefaultValue="@configService.DefaultPalConfig.CollectionObjectRespawnSpeedRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.CollectionObjectRespawnSpeedRate"></SySliderFormItem>
                        <SySliderFormItem Label="道具掉落量倍率" DefaultValue="@configService.DefaultPalConfig.EnemyDropItemRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.EnemyDropItemRate"></SySliderFormItem>
                        <SySliderFormItem Label="巨大蛋孵化所需时间(小时)" DefaultValue="@configService.DefaultPalConfig.PalEggDefaultHatchingTime" Min="0" Max="240" Step="0.01" @bind-Value="@context.PalEggDefaultHatchingTime"></SySliderFormItem>

                        <FormItem Label="启用袭击事件">
                            <Checkbox @bind-Value="context.bEnableInvaderEnemy"></Checkbox>
                        </FormItem>
                        <FormItem Label="死亡惩罚">
                            <Select @bind-Value="@context.DeathPenalty"
                                    DefaultValue="@EPalOptionWorldDeathPenalty.None"
                                    Style="width: 200px;"
                                    TItemValue="@EPalOptionWorldDeathPenalty"
                                    TItem="@EPalOptionWorldDeathPenalty">
                                <SelectOptions>
                                    <SelectOption Value="@EPalOptionWorldDeathPenalty.None" Label="无惩罚" />
                                    <SelectOption Value="@EPalOptionWorldDeathPenalty.Item" Label="丢失物品但不丢失装备" />
                                    <SelectOption Value="@EPalOptionWorldDeathPenalty.ItemAndEquipment" Label="丢失物品和装备" />
                                    <SelectOption Value="@EPalOptionWorldDeathPenalty.All" Label="丢失所以物品、装备、伙伴" />
                                </SelectOptions>
                            </Select>
                        </FormItem>
                        <SySliderFormItem Label="公会玩家最大数量" DefaultValue="@configService.DefaultPalConfig.GuildPlayerMaxNum" Min="0" Max="100" Step="1" @bind-Value="@context.GuildPlayerMaxNum"></SySliderFormItem>
                        <SySliderFormItem Label="可分配至据点工作的帕鲁数量上限" DefaultValue="@configService.DefaultPalConfig.BaseCampWorkerMaxNum" Min="0" Max="20" Step="1" @bind-Value="@context.BaseCampWorkerMaxNum"></SySliderFormItem>

                        <FormItem Label="启用玩家对玩家的伤害">
                            <Checkbox @bind-Value="context.bEnablePlayerToPlayerDamage"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用友伤">
                            <Checkbox @bind-Value="context.bEnableFriendlyFire"></Checkbox>
                        </FormItem>
                        <FormItem Label="激活帕鲁便便">
                            <Checkbox @bind-Value="context.bActiveUNKO"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用手柄瞄准辅助">
                            <Checkbox @bind-Value="context.bEnableAimAssistPad"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用键盘瞄准辅助">
                            <Checkbox @bind-Value="context.bEnableAimAssistKeyboard"></Checkbox>
                        </FormItem>
                        <SySliderFormItem Label="帕鲁便便掉落最大数量" DefaultValue="@configService.DefaultPalConfig.DropItemMaxNum_UNKO" Min="0" Max="5000" Step="1" @bind-Value="@context.DropItemMaxNum_UNKO"></SySliderFormItem>
                        <SySliderFormItem Label="全地图据点最大数量" DefaultValue="@configService.DefaultPalConfig.BaseCampMaxNum" Min="0" Max="10240" Step="1" @bind-Value="@context.BaseCampMaxNum"></SySliderFormItem>
                        <SySliderFormItem Label="掉落物品存活最大小时数" DefaultValue="@configService.DefaultPalConfig.DropItemAliveMaxHours" Min="0" Max="240" Step="1" @bind-Value="@context.DropItemAliveMaxHours"></SySliderFormItem>
                        <FormItem Label="自动重置没有在线玩家的公会">
                            <Checkbox @bind-Value="context.bAutoResetGuildNoOnlinePlayers"></Checkbox>
                        </FormItem>
                        <SySliderFormItem Label="自动重置无在线玩家的公会时间(小时)" DefaultValue="@configService.DefaultPalConfig.AutoResetGuildTimeNoOnlinePlayers" Min="0" Max="240" Step="1" @bind-Value="@context.AutoResetGuildTimeNoOnlinePlayers"></SySliderFormItem>
                        <SySliderFormItem Label="工作速率" DefaultValue="@configService.DefaultPalConfig.WorkSpeedRate" Min="0" Max="20" Step="0.01" @bind-Value="@context.WorkSpeedRate"></SySliderFormItem>
                        <FormItem Label="是否多人游戏">
                            <Checkbox @bind-Value="context.bIsMultiplay"></Checkbox>
                        </FormItem>
                        <FormItem Label="是否 PvP">
                            <Checkbox @bind-Value="context.bIsPvP"></Checkbox>
                        </FormItem>
                        <FormItem Label="能否拾取其他公会玩家的死亡惩罚掉落物">
                            <Checkbox @bind-Value="context.bCanPickupOtherGuildDeathPenaltyDrop"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用超时未登录惩罚">
                            <Checkbox @bind-Value="context.bEnableNonLoginPenalty"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用快速传送">
                            <Checkbox @bind-Value="context.bEnableFastTravel"></Checkbox>
                        </FormItem>
                        <FormItem Label="是否通过地图选择复活位置">
                            <Checkbox @bind-Value="context.bIsStartLocationSelectByMap"></Checkbox>
                        </FormItem>
                        <FormItem Label="登出后玩家人物是否存在">
                            <Checkbox @bind-Value="context.bExistPlayerAfterLogout"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用据点内防御其他公会玩家">
                            <Checkbox @bind-Value="context.bEnableDefenseOtherGuildPlayer"></Checkbox>
                        </FormItem>
                        <FormItem Label="启用服务器内可以查看其他玩家列表">
                            <Checkbox @bind-Value="context.bShowPlayerList"></Checkbox>
                        </FormItem>
                    </Form>
                </Content>
                <Footer Class="sy-content-footer">
                    <Space>
                        <SpaceItem>
                            <Button Type="@ButtonType.Dashed" OnClick="ShowRestoreDefaultPalConfigConfirm" Loading="withButtonLoading">
                                恢复默认参数
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                                <Button Type="@ButtonType.Primary" OnClick="Save" Loading="withButtonLoading">
                                保存
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                                <Button Type="@ButtonType.Primary" Danger OnClick="SaveAndRestart" Loading="withButtonLoading">
                                保存并重启
                            </Button>
                        </SpaceItem>
                    </Space>
                </Footer>
            </Flex>
        </TabPane>
    </Tabs>
</Flex>

@code {
    private bool IsSmall = false;
    private bool withButtonLoading = false;
    RenderFragment leftExtra => @<PageHeader Class="sy-content-title" Title="配置" />;
    private PalConfigModel palConfigModel = new PalConfigModel();
    private ToolsConfigModel toolsConfigModel = new ToolsConfigModel();

    protected override void OnInitialized()
    {
        palConfigModel = configService.PalConfig.DeepCopy();
        toolsConfigModel = configService.ToolsConfig.DeepCopy();
    }

    private void OnFinish(EditContext editContext)
    {
        // Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void ShowRestoreDefaultPalConfigConfirm()
    {
        RenderFragment icon =@<Icon Type="exclamation-circle" Theme="outline"></Icon>;

        _modalService.Confirm(new ConfirmOptions()
            {
                Title = "是否恢复默认参数?",
                Icon = icon,
                Content = @"注意：该操作会重置 ""服务器配置"" 和 ""游戏参数调整"" 的参数，不会进行保存操作。",
                OnOk = async (e) =>
                {
                    await Task.Run(() => { configService.RestoreDefaultPalConfig(palConfigModel); });
                    this.StateHasChanged();
                    _ = message.Success("已恢复！");
                },
                OkText = "确认",
                CancelText = "取消"
            });
    }

    private async Task BasicSave()
    {
        try
        {
            await configService.ToolsConfigSave(toolsConfigModel);
            _ = message.Success("保存成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error("保存失败：" + ex.Message);
        }
    }

    private async Task Save()
    {
        try
        {
            await configService.Save(toolsConfigModel, palConfigModel);
            _ = message.Success("保存成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error("保存失败：" + ex.Message);
        }
    }

    private async Task SaveAndRestart()
    {
        try
        {
            withButtonLoading = true;
            await configService.Save(toolsConfigModel, palConfigModel);
            if (palProcessService.palServerState == Models.PalServerState.Running)
            {
               await palProcessService.CloseProcess();
            }
            if (!configService.ToolsConfig.AutoRestart)
            {
                await palProcessService.StartProcess();
            }
            _ = message.Success("成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error("失败：" + ex.Message);
        }
        finally
        {
            withButtonLoading = false;
        }
    }
}
