@page "/console"

<PageTitle>控制台</PageTitle>

@using PalServerTools.Data
@inject ConsoleService consoleService
@inject PalRconService palRconService
@inject NavigationManager nvm

<Flex Vertical="true" Class="sy-content">
    <PageHeader Class="sy-content-title" Title="控制台" Subtitle="Pal Server Tools" />
    @if (!isCanConnect)
    {
        <Result Status="warning"
            Title="RCON连接失败！"
            SubTitle="提示：请先在 配置/服务器配置 页面启用RCON。如果已经完成配置，请尝试重启PalServer。">
            <Extra>
                <Button Type="primary" OnClick="@(()=>{ nvm.NavigateTo("/config#service");})">去启用RCON</Button>
            </Extra>
        </Result>
    }
    else
    {
        <Content Class="sy-content-body">
            <TextArea Style="height:100%" ReadOnly Value="@string.Join("\n", consoleService.msgList)"></TextArea>
        </Content>
        <Footer Class="sy-content-footer" Style="padding: 15px 0px;">
            <InputGroup Compact>
                <SimpleSelect DefaultValue="@("")" Style="width: 150px;" @bind-Value="cmdType">
                    <SelectOptions>
                        <SimpleSelectOption Value="Broadcast" Label="Broadcast"></SimpleSelectOption>
                        <SimpleSelectOption Value="Shutdown" Label="Shutdown"></SimpleSelectOption>
                        <SimpleSelectOption Value="DoExit" Label="DoExit"></SimpleSelectOption>
                        <SimpleSelectOption Value="KickPlayer" Label="KickPlayer"></SimpleSelectOption>
                        <SimpleSelectOption Value="BanPlayer" Label="BanPlayer"></SimpleSelectOption>
                        <SimpleSelectOption Value="TeleportToPlayer" Label="TeleportToPlayer"></SimpleSelectOption>
                        <SimpleSelectOption Value="TeleportToMe" Label="TeleportToMe"></SimpleSelectOption>
                        <SimpleSelectOption Value="ShowPlayers" Label="ShowPlayers"></SimpleSelectOption>
                        <SimpleSelectOption Value="Info" Label="Info"></SimpleSelectOption>
                        <SimpleSelectOption Value="Save" Label="Save"></SimpleSelectOption>
                        <SimpleSelectOption Value="" Label="自定义"></SimpleSelectOption>
                    </SelectOptions>
                </SimpleSelect>
                <Input DefaultValue="@("Xihu District, Hangzhou")" Style="width: 100%;" Placeholder="输入命令..." @bind-Value="cmd" />
                <Button Type="@ButtonType.Primary" OnClick="SendCommand">
                    发送
                </Button>
            </InputGroup>
        </Footer>
    }
</Flex>



@code {
    private string cmdType = "";
    private string cmd = "";
    private bool isCanConnect = true;

    protected override async Task OnInitializedAsync()
    {
        isCanConnect = await palRconService.IsCanConnect();
    }

    public async Task SendCommand()
    {
        string command = $"{cmdType}{(string.IsNullOrWhiteSpace(cmdType) ? "" : " ")}{cmd}";
        if (!string.IsNullOrWhiteSpace(command))
        {
            consoleService.msgList.Add(command);
            var msg = await palRconService.ExecuteCommand(command);
            consoleService.msgList.Add(msg);
            this.StateHasChanged();
        }
    }
}
