@page "/console"

<PageTitle>控制台</PageTitle>

@using PalServerTools.Data
@inject ConsoleService consoleService
@inject PalRconService palRconService

<Flex Vertical="true" Class="sy-content">
    <PageHeader Class="sy-content-title" Title="控制台" Subtitle="Pal Server Tools" />
     <Content Class="sy-content-body">
        <TextArea Style="height:100%" ReadOnly Value="@string.Join("\n", consoleService.msgList)"></TextArea>
     </Content>
    <Footer Class="sy-content-footer" Style="padding: 15px 0px;">
        <InputGroup Compact>
            <SimpleSelect DefaultValue="@("")" Style="width: 150px;" @bind-Value="cmdType">
                <SelectOptions>
                    <SimpleSelectOption Value="Broadcast" Label="Broadcast"></SimpleSelectOption>
                        <SimpleSelectOption Value="Shutdown" Label="Shutdown"></SimpleSelectOption>
                        <SimpleSelectOption Value="DoExit" Label="DoExit"></SimpleSelectOption>
                        <SimpleSelectOption Value="KickPlayer" Label="KickPlayer"></SimpleSelectOption>
                        <SimpleSelectOption Value="BanPlayer" Label="BanPlayer"></SimpleSelectOption>
                        <SimpleSelectOption Value="TeleportToPlayer" Label="TeleportToPlayer"></SimpleSelectOption>
                        <SimpleSelectOption Value="TeleportToMe" Label="TeleportToMe"></SimpleSelectOption>
                        <SimpleSelectOption Value="ShowPlayers" Label="ShowPlayers"></SimpleSelectOption>
                        <SimpleSelectOption Value="Info" Label="Info"></SimpleSelectOption>
                        <SimpleSelectOption Value="Save" Label="Save"></SimpleSelectOption>
                        <SimpleSelectOption Value="" Label="自定义"></SimpleSelectOption>
                </SelectOptions>
            </SimpleSelect>
            <Input DefaultValue="@("Xihu District, Hangzhou")" Style="width: 100%;" Placeholder="输入命令..." @bind-Value="cmd" />
            <Button Type="@ButtonType.Primary" OnClick="SendCommand">
                发送
            </Button>
        </InputGroup>
    </Footer>
@*    <div class="sy-content-body">
        <div class="mb-3 row">
            <div class="col-sm-12">
                <textarea class="form-control" aria-label="With textarea" style="height:calc(100vh - 200px)" readonly>@foreach (var msg in consoleService.msgList)
                    {
                        @(msg + "\n")
                    }</textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text">
                        <select class="form-select form-select-sm" id="inputGroupSelect02" @bind="cmdType">
                            <option value="Broadcast">Broadcast</option>
                            <option value="Shutdown">Shutdown</option>
                            <option value="DoExit">DoExit</option>
                            <option value="KickPlayer">KickPlayer</option>
                            <option value="BanPlayer">BanPlayer</option>
                            <option value="TeleportToPlayer">TeleportToPlayer</option>
                            <option value="TeleportToMe">TeleportToMe</option>
                            <option value="ShowPlayers">ShowPlayers</option>
                            <option value="Info">Info</option>
                            <option value="Save">Save</option>
                            <option value="" selected>自定义</option>
                        </select>
                    </span>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="输入命令..." @bind="cmd">
                    <button class="btn btn-primary" @onclick="SendCommand">
                        发送
                    </button>
                </div>
            </div>
        </div>
    </div>*@
</Flex>



@code {
    private string cmdType = "";
    private string cmd = "";

    public async Task SendCommand()
    {
        string command = $"{cmdType}{(string.IsNullOrWhiteSpace(cmdType) ? "" : " ")}{cmd}";
        if (!string.IsNullOrWhiteSpace(command))
        {
            consoleService.msgList.Add(command);
            var msg = await palRconService.ExecuteCommand(command);
            consoleService.msgList.Add(msg);
            this.StateHasChanged();
        }
    }
}
