@page "/"

<PageTitle>监控</PageTitle>

@using PalServerTools.Data
@using PalServerTools.Utils;
@inject ConsoleService consoleService
@inject PalRconService palRconService
@inject PalProcessService palProcessService
@inject PalConfigService configService
@inject IMessageService message

<Flex Vertical="true" Class="sy-content">
    <PageHeader Class="sy-content-title" Title="监控" Subtitle="Pal Server Tools" />
    <div class="sy-content-body sy-card">
        <Card Title="服务器信息" Class="sy-card-item">
            <Body>
                <p>
                    名称：@configService.PalConfig.ServerName
                </p>
                <p>
                    版本： @palProcessService.currentVersion
                    @if (!palProcessService.isLatestVersion)
                    {
                        <div style="display:inline-block;margin-left:10px;">
                            <Text Style="color: red; ">新 @palProcessService.latestVersion</Text>
                            <Button Type="@ButtonType.Primary" Size="small" Danger Icon="arrow-up" OnClick="OnClickUpgrade" Loading="@(palProcessService.palServerUpdateState == Models.PalEnum.PalServerUpdateState.Updating)">@(palProcessService.palServerUpdateState == Models.PalEnum.PalServerUpdateState.Updating ? "升级中" : "立即升级")</Button>
                         </div>
                    }
                    else
                    {
                        <div style="display:inline-block;margin-left:10px;">
                            <Button Type="@ButtonType.Primary" Size="small" Icon="cloud-sync" OnClick="OnClickCheckLatestVersion" Loading="withCheckLatestVersionLoading">检查版本</Button>
                         </div>
                    }
                </p>
                <p>
                    状态： @(palProcessService.palServerState == Models.PalEnum.PalServerState.Stopped ? "停止" : "运行中")
                    @if (palProcessService.palServerState == Models.PalEnum.PalServerState.Stopped)
                    {
                        <Button Type="@ButtonType.Primary" Size="small" Icon="poweroff" OnClick="OnClickStart" Loading="withStartLoading">开机</Button>
                    }
                    else
                    {
                        <Button Type="@ButtonType.Primary" Danger Icon="poweroff" Size="small" OnClick="OnClickClose" Loading="withCloseLoading">关机</Button>
                        <Button Type="@ButtonType.Primary" Size="small" Icon="reload" OnClick="OnClickReload" Loading="withReloadLoading">重启</Button>
                    }
                </p>
                <p>
                    自动重启：<Switch Size="small" @bind-Checked="configService.ToolsConfig.AutoRestart" OnChange="OnChangeToolsConfig" />
                </p>
                <p>
                    自动更新：<Switch Size="small" @bind-Checked="configService.ToolsConfig.AutoUpgrade" OnChange="OnChangeToolsConfig" />
                </p>
            </Body>
        </Card>
        <br />
        <SystemMonitor></SystemMonitor>
    </div>
</Flex>

@code {
    Timer timer;
    private string serverInfo = "";
    private bool withCheckLatestVersionLoading = false;
    private bool withReloadLoading = false;
    private bool withStartLoading = false;
    private bool withCloseLoading = false;

    protected override async Task OnInitializedAsync()
    {
        if (palProcessService.palServerState == Models.PalEnum.PalServerState.Running)
        {
            serverInfo = await palRconService.Info();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            timer = new Timer(UpdateStateInfo, null, TimeSpan.Zero, TimeSpan.FromSeconds(2));
            await CheckLatestVersion();
        }
    }

    async Task CheckLatestVersion()
    {
        try
        {
            await palProcessService.CheckLatestVersion();
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message);
        }
    }

    private void UpdateStateInfo(object state)
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    async Task OnClickStart()
    {
        try
        {
            withStartLoading = true;
            palProcessService.StartProcess();
            _ = message.Success("开机成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message);
        }
        finally
        {
            withStartLoading = false; 
            await CheckLatestVersion();
        }
        this.StateHasChanged();
    }

    async Task OnClickClose()
    {
        try
        {
            withCloseLoading = true;
            palProcessService.CloseProcess();
            _ = message.Success("关机成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message);
        }
        finally
        {
            withCloseLoading = false;
        }
        this.StateHasChanged();
    }

    async Task OnClickReload()
    {
        try
        {
            withReloadLoading = true;
            this.StateHasChanged();
            palProcessService.CloseProcess();
            this.StateHasChanged();
            palProcessService.StartProcess();
            this.StateHasChanged();
            _ = message.Success("重启成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message);
        }
        finally
        {
            withReloadLoading = false;
            await CheckLatestVersion();
        }
    }

    async Task OnChangeToolsConfig()
    {
        configService.ToolsConfigSave();
    }

    async Task OnClickUpgrade()
    {
        try
        {
            await palProcessService.Upgrade();
            _ = message.Success("升级成功！");
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message, 10);
        }
        this.StateHasChanged();
    }

    async Task OnClickCheckLatestVersion()
    {
        try
        {
            withCheckLatestVersionLoading = true;
            if (palProcessService.palServerState == Models.PalEnum.PalServerState.Running)
            {
                await palProcessService.CheckLatestVersion();
                _ = message.Success(palProcessService.isLatestVersion ? "已经是最新版本！" : "发现新版本！");
            }
            else
            {
                _ = message.Error("服务器未运行！");
            }
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message, 10);
        }
        finally
        {
            withCheckLatestVersionLoading = false;
        }
    }
}