@page "/Login"
@using PalServerTools.Models;
@using PalServerTools.Utils;
@using PalServerTools.Auth;

@layout LoginLayout
@inject NavigationManager nvm
@inject ImitateAuthStateProvider AuthStateProvider
@inject IMessageService message

<div class="container">
    <div class="login-wrapper">
        <div class="header">Pal Server Tools</div>
        <div class="header-subtitle">登录</div>
        <div class="form-wrapper">
            <Form Model="@loginModel"
                  Layout="@FormLayout.Vertical"
                  Size="@AntSizeLDSType.Large"
                  OnFinish="SubmitHandler">
                <FormItem>
                    <InputPassword Placeholder="请输入密码..." @bind-Value="@context.Password" />
                </FormItem>

                <FormItem WrapperColOffset="0" WrapperColSpan="24">
                    <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Round" HtmlType="submit" Block Size="@ButtonSize.Default" Loading="isAuthLoading">
                        登录
                    </Button>
                </FormItem>
            </Form>
        </div>
        <div class="msg">
            没有帐户
            <a href="#1" style="margin-left: 5px;">
                注册
            </a>
        </div>
    </div>
</div>

@code {
    private UserInfo loginModel = new UserInfo();
    bool isAuthLoading = false;

    private async Task SubmitHandler()
    {
        isAuthLoading = true;
        try
        {
            if (await AuthStateProvider.Login(new UserInfo() { Password = loginModel.Password }))
            {
                _ = message.Success("登录成功！");
                nvm.NavigateTo("/");
            }
            else
            {
                _ = message.Error("密码错误！");
            }
        }
        catch (Exception ex)
        {
            _ = message.Error(ex.Message);
        }
        finally
        {
            isAuthLoading = false;
        }
    }

    private void InvalidHandler()
    {
        nvm.NavigateTo("/Login");
    }
}
